
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}




.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}



.dropdown {
	float: right;
}




.background-img{
	  height: 100vh;
	  width: 90%;
	  background-image:url("C:/Users/ERICSON SALES/Desktop/SALES-20191208T081413Z-001/project/assets/img/background.jpg");
	  background-repeat: no-repeat;
	  background-position: center 56px;
	  background-size: cover; 
	  z-index: -1;
	  opacity: 150%;


}





#topstory { 
   position: absolute; 
   top: 90px; 
   left: 7.5%; 
   width: 85vw;
   /*font-weight: bold;*/
   font-family: sans-serif;
   /*padding-left: 10px;*/
}

.display-text {
   position: absolute; 
   top: 150px; 
   left: 7.5%; 
   width: 85vw;
   font-size: 5vw;
   font-weight: bold;
   font-family: sans-serif;
   /*padding-left: 10px;*/ 


}




.featured-image{
	align-items: center;
	position: absolute;
	/*top: 300px;*/
	top: 320px; 
	/*padding-bottom: 50px;*/
    left: 15%; 
    width: 70vw;
    /*height: 70vh;*/
    /*max-width: 100%;*/

  
   
}


.row-1 {
   align-items: center;
   position: absolute;
   /*padding-top: 150vh;*/
   top: 900px; 
   left: 7.5%; 
   width: 85vw;
   font-size: 2vw;
   font-weight: bold;
   font-family: sans-serif;
}



@media only screen and (min-width: 426px) and (max-width: 768px) {
	.display-text h1 {
		font-size: 5vw;
	}
	.row-1{
		font-size: 4vw;
	}

}


