html, body{
	height: 100%;
	width: 100%;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}



.dropdown {
	float: right;
}


.background-img{
	  
	  height: 100%;
	  width: 90%;
	  background-image:url("../img/background.jpg");
	  background-repeat: no-repeat;
	  background-position: center 56px;
	  background-size: cover; 
	  z-index: -1;
	  opacity: 150%;
}



.featured-story, .featured-story2 {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}


.featured-story h1 {
   position: absolute; 
   top: 150px; 
   left: 7.5%; 
   width: 85vw;
   font-size: 350%;
   font-weight: bold;
   font-family: sans-serif;

}






.featured-story h2{
   position: absolute; 
   top: 90px; 
   left: 7.5%; 
   width: 85vw;
   font-family: sans-serif;
   
}




/*.padding img{
	width:100%;

}*/

.featured-content{
   align-items: center;
   position: relative;
   
 
   left: 7.5%; 
   width: 85vw;
   font-size: 150%;
   font-weight: bold;
   font-family: sans-serif;
   background-color: black;
   opacity: 70%;
   line-height: 150%;
}

p {
  padding-top: 20px;
}


hr.new5 {
  border: 5px solid black;
  /*border-radius: 2px;*/
  left: 7.5%; 
  width: 85vw;
}


/*TOP-RIGHT-BOTTOM-LEFT*/
.padding1{
	padding:60px 0;
}

.padding2{
	
	padding-top: 200px;
}

.padding3{
	padding-top: 60px;
}

.padding4{
	padding-top: 1000px;

}

.padding5{
  padding-top: 60px;

}




.featured-story2 h1 {
   position: relative; 
   top: 40px; 
   /*padding-top: 200px;*/
   left: 7.5%; 
   width: 85vw;
   font-size: 350%;
   font-weight: bold;
   font-family: sans-serif;

 }


.featured-story2 h2{
   position: relative; 
   top: 20px; 
   /*padding-top: 100px;*/
   left: 7.5%; 
   width: 85vw;
   font-family: sans-serif;
   
}


.padding2-2{
  position: relative;
  padding-top: 20px;
}

.padding3-2{
  position: relative;
  padding-top: 60px;
}






footer {
   align-items: center;
   position: absolute;
   
   left: 7.5%; 
   width: 100vw;
   /*background-color: #23415C;*/
   /*padding: 2% 10% 2% 10%;*/
   color: #FFF;
}

.fa{
  color: #FFF;
  padding: 15px;
}